<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3308/test?useUnicode=true&amp;characterEncoding=utf8</property>
		<property name="connection.username">root</property>
		<property name="connection.password">121909</property>


		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<!-- 与spring整合，将事务管理交给spring，此处不能配置为thread，可以不配，也可以配置为如下spring提供的类 -->
		<!-- <property name="current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property> -->
		<!-- <property name="current_session_context_class">thread</property> -->
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.release_mode">after_statement</property>
		<mapping class="com.hurricane.future.blog.domain.User"/>
		<mapping class="com.hurricane.future.blog.domain.Category"/>
		<mapping class="com.hurricane.future.blog.domain.BlogContent"/>
	</session-factory>


</hibernate-configuration>